@model IEnumerable<SpotiBook.Models.Post>

@{
    ViewData["Title"] = "Your feed";

    string YouTubeUrlToEmbed(string url)
    {
        System.Text.RegularExpressions.Regex regex = new System.Text.RegularExpressions.Regex(@"(?:https?:\/\/)?(?:www\.)?(?:(?:(?:youtube.com\/watch\?[^?]*v=|youtu.be\/)([\w\-]+))(?:[^\s?]+)?)");
        return regex.Replace(url, "https://www.youtube.com/embed/$1");
    }

    string GetPrettyDate(DateTime d)
    {
        TimeSpan s = DateTime.Now.Subtract(d);
        int dayDiff = (int)s.TotalDays;
        int secDiff = (int)s.TotalSeconds;

        if (dayDiff < 0 || dayDiff >= 31)
        {
            return string.Format("on {0}", d.Date.ToString());
        }

        if (dayDiff == 0)
        {
            if (secDiff < 60)
            {
                return "just now";
            }
            if (secDiff < 120)
            {
                return "1 minute ago";
            }
            if (secDiff < 3600)
            {
                return string.Format("{0} minutes ago",
                    Math.Floor((double)secDiff / 60));
            }
            if (secDiff < 7200)
            {
                return "1 hour ago";
            }
            if (secDiff < 86400)
            {
                return string.Format("{0} hours ago",
                    Math.Floor((double)secDiff / 3600));
            }
        }
        if (dayDiff == 1)
        {
            return "yesterday";
        }
        if (dayDiff < 7)
        {
            return string.Format("{0} days ago",
                dayDiff);
        }
        if (dayDiff < 31)
        {
            return string.Format("{0} weeks ago",
                Math.Ceiling((double)dayDiff / 7));
        }
        return null;
    }
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (Post post in Model)
{
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-header justify-content-between">
                    <a asp-controller="/Profile" asp-route-user="@post.Author.UserName">@post.Author.UserName</a> @(post.OriginalPost == null ? "posted" : "shared") @GetPrettyDate(post.PostedOn)
                </div>
                <div class="card-body">
                    <p>@post.Description</p>
                    @if (post.OriginalPost == null)
                    {
                        @if (post.Mp3 != null)
                        {

                        }
                        else
                        {
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="@YouTubeUrlToEmbed(post.YoutubeUrl)" class="embed-responsive-item"></iframe>
                            </div>
                        }
                    }
                    else
                    {
                        var originalPost = post.OriginalPost;
                        while (originalPost.OriginalPost != null)
                        {
                            originalPost = originalPost.OriginalPost;
                        }

                        <div class="card">
                            <div class="card-header justify-content-between">
                                <a asp-controller="/Profile" asp-route-user="@originalPost.Author.UserName">@originalPost.Author.UserName</a> posted @GetPrettyDate(originalPost.PostedOn)
                            </div>
                            <div class="card-body">
                                <p>@originalPost.Description</p>
                                @if (originalPost.Mp3 != null)
                                {

                                }
                                else
                                {
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe src="@YouTubeUrlToEmbed(originalPost.YoutubeUrl)" class="embed-responsive-item"></iframe>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">Comment</div>
                        <div class="col-6"><a asp-action="Share" asp-route-id="@post.Id">Share</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}